<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>
    <title>Book App - Show</title>
    <link href="../public/styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <%- include('../../layout/header')%>
    </header>
    <main id="main">
        <h2 id="legend"><p>Search Results </p></h2>
        <article>
            <% theBook.forEach(resu => { %>
            <section id="section">
                <img src=<%=resu.imageLinks%>>
                <p id="title"><%= resu.title %></p>
                <p id="authors"><%= resu.authors%></p>
                <p id="description"><%= resu.description%></p>
            </section>
            <% }) %>
        </article>
    </main>
    <footer>
        <%- include('../../layout/footer')%>
    </footer>
</body>

</html>