<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link href="./public/styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <p><a href="/">Best Books!</a></p>
    </header>
    <main>
        <%var num;%>
        <h2 id="legend">
            <p>Search the Google Books API</p>
        </h2>
        <article>
            <%num = 0;%>
            <%books.forEach(book => {%>
            <section id="section">
                <img src=<%=book.image_url%>>
                <p id="title"><%= book.title %></p>
                <p id="authors"><%= book.author%></p>
                <a href="/books/<%=book.id%>">View Details</a>
            </section>
            <%num++;%>
            <% }) %>
        </article>
        <h2 id="legend"><p>Save Books <%= num;%></p></h2>
    </main>
    <footer>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </footer>
</body>
</html>
