<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
    <title>Book App</title>
    <link href="./public/styles/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <%- include('../layout/header')%>
    </header>
    <main>
        <h2 id="legend" class="color"><p>Save Books <%= books.length;%></p></h2>
        <h2 id="legend">
            <p>Search the Google Books API</p>
        </h2>
        <article>
            <%books.forEach(book => {%>
            <section id="section">
                <img src=<%=book.image_url%>>
                <p id="title"><%= book.title %></p>
                <p id="authors"><%= book.author%></p>
                <button><a href="/books/<%=book.id%>">View Details</a></button>
            </section>
            <% }) %>
        </article>
        
    </main>
    <footer>
        <%- include('../layout/footer')%>
    </footer>
</body>
</html>
